# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment variables
.env

# Logs
*.log

# Credentials (VERY IMPORTANT)
credentials.json

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# State files (optional)
state.json